.login-spoti{
   height: 80px;
   width: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: center;

}


.btn-login-spoti{
    vertical-align: middle;
    height: 50%;
    font-size: 1.4rem;   
    padding: 0.5rem 1rem;
    background-color: rgb(94, 228, 94);
    border: none;
    border-radius: 18px;
}

.btn-login-spoti a{
    padding-left: 0.5rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1rem;
}



